#map {
    margin-top: 10px;
    height: 93vh; 
    width: 98.9vw;
    margin-left: 0px; 
  
}
%shared-items{
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.button-input-div{
    .map-autocomplete {
        @extend %shared-items;
        width: 210px;
        height: 25px;
    }
    .direction-button{
        @extend %shared-items;
        background-color: white;
        width: 150px;
        font-weight: bold;
        height: 43px;
    }
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin-left: 200px;
    margin-top: 10px;
}
.directions{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    list-style: none; 
    height: fit-content;
    justify-content: left;
    align-items: center;
    width: 300px;
    gap: 10px;
    top: 150px;
     .direction{
        padding: 5px;
        border: 2px solid black;
        background-color: wheat;

        button{
            margin-left: 275px;
            background-color: transparent;
            border: none;
            font-size: 15px;
            cursor: pointer;
        }
    }
    
}
.back-button{
    border: 1px solid #ccc;
    border-radius: 4px;
    height:30px
}