.pokemon-div {
  display: flex;
  align-items: center;
  justify-content: center;

  .pokemon-button {
    border: 5px solid white;
    border-radius: 10px;
    width: 205px;
    height: 205px;
    margin-top: 20px;
    img {
      margin-top: 2px;
      border-radius: 25px;
      width: 170px;
      height: 150px;
      background-color: white;
    }
    &:hover {
      transform: scale(1.05);
    }
  }
}
