<h1>{{pokemonDetails.name}} Details</h1>
<button class="back-button" (click)="goBack()">Back</button>

<div class="pokemon-details">
  <div class="pokemon-div">
    <img [src]="imageUrl" [alt]="pokemonDetails.name" />
    <div class="detail">Name: {{ pokemonDetails.name }}</div>
    <div class="detail">Types: {{ pokemonDetails.types.join(", ") }}</div>
    <div class="detail">Height: {{ pokemonDetails.height }}</div>
    <div class="detail">Weight: {{ pokemonDetails.weight }}</div>
    <div class="card-container" *ngFor="let stat of pokemonDetails.stats">
      <div class="stat-item">
        <div class="stat">{{ stat.name }} : {{ stat.value }}</div>
      </div>
    </div>
  </div>
</div>
